<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    {% load static %}
  </head>
  <body>
    {% for i in count %}
        <div class="card" style="width: 18rem;">
            <img src="/media/{{i.disaster.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.disaster}}</h5>
              <p class="card-text">The precautions are {{i.disaster.precautions}}</p>
            </div>
            <ul class="list-group list-group-flush">
                {% for m in i.safehaven.all %}
                    <li class="list-group-item">{{m.name}}</li>
                {% endfor %}
                {% for m in i.transport.all %}
                    <li class="list-group-item">{{m.name}}</li>
                {% endfor %}
            </ul>
            <div class="card-body">
            </div>
          </div>
        
        {% endfor %}
        <div id="map"></div>
            

        <span id="pass1">{{count.0.Lattitud}}</span>
        <span id="pass2">{{count.0.Longitud}}</span>
        <div id="map"></div>

    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var lat=parseFloat(document.getElementById('pass1').value);
  var lng=parseFloat(document.getElementById('pass2').value);
  console.log(lat)
  var uluru = {lat:lat, lng:lng};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbMFpgA9Zv2nvf_7Jt6TL7Erl8FSmqCX0&callback=initMap">
    </script>
  </body>
</html>


