<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Disaster Management Portal</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Bootstrap eCommerce Template">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images/icons/favicon.ico">

	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800','FEATURED PRODUCTS
Poppins:300,400,500,600,700' ] }
		};
		(function(d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>

	<!-- Plugins CSS File -->
	<link rel="stylesheet" href="{% static 'country/css/bootstrap.css'%}">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="{% static 'country/css/file.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'country/css/fontt.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'country/css/stylee.css'%}">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'country/css/line.css'%}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'country/css/all.min.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="full-screen-slider">
<div class="page-content">
    <div class="form-v4-content">
        <div class="form-left">
            <h2 style="color:white;">INFOMATION</h2>
            <p class="text-1">Worried about disasters happening in your country? Worried about your family safety?</p>
            <p class="text-2"><span>This form will give you upates via email of any predicted disaster</p>
            
        </div>
        <form class="form-detail" action="/register" method="POST" id="myform">{% csrf_token %}
            <h2>REGISTER FORM</h2>
            {{ form.as_p }}
            <div  class="form-row-last">
                <input  type="submit" name="sudmit" class="register" value="Sudmit">
            </div>
        </form>
    </div>
</div>

<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<!-- Plugins JS File -->
<script src="{% static 'country/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'country/js/jquery.min.js'%}"></script>
<script src="{% static 'country/js/plugins.min.js'%}"></script>

<!-- Main JS File -->
<script src="{% static 'country/js/main.min.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    // just for the demos, avoids form submit
    jQuery.validator.setDefaults({
          debug: true,
          success:  function(label){
            label.attr('id', 'valid');
            },
    });
    
</script>
</body>